---
layout: default
---

<div class='o-wrapper-short-bio'>
  <div class='o-grid'>
	Hey, I'm Avi! I'm a software engineer interested in iOS application development and IoT systems. Prototypes is a log of projects I've worked on with the goal of learning and experimenting with technologies.
  </div>
</div>

<div class='o-wrapper'>
  <div class='o-grid'>
    {% for post in paginator.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>